/* HEADER */

header {
    background-image: url(../img/bg-3.jpg);
    height: 50rem;
    margin: 0;
    background-position: right center;
    background-size: cover;
    border-top: 0.1rem solid white;
}

.s-hero {
    text-align: center;
    color: white;
    margin-top: 15rem;
}

.s-hero h1{
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.5rem #333;
}

.s-hero p {
    display: inline-block;
    width: 25%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
    padding: .5rem .2rem;
}

.hero-content ul {
    text-align: right;
    margin-right: 1rem;
}

.hero-content ul li {
    display: inline-block;
    list-style: none;
    border: 0.1rem solid white;
    margin-top: 1rem;
}

.menu-nav a {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

.menu-nav a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}



/* SECTION SUCCESS */

.s-success {
    background-color: white;
    padding: 1.5rem;
    margin-top: 1.5rem;

}

.cards {
    display: flex;
    justify-content: space-around;
    
}

.card p {
    color: white;
    background-color: #333;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
}



/* SECTION POST */

.s-post {
    background-color: white;
}

.s-post h2 {
    background-color: #333;
    color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.s-post p {
    padding-left: 0.5rem;
    line-height: 2rem;
    font-size: 1.1rem;
}



/* FOOTER */
.rodape {
    height: 8rem;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
    background-color: #6b6c68;
    padding-top: 3rem;
}